/* section <p> tags should have line-height of 10 */
p {
    line-height: 1.6;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

@font-face {
  font-family: JetBrainsMono;
  src: url(../JetBrainsMono-Regular.ttf);
}

body {
  font-family: 'JetBrainsMono', serif;
}

::selection {
  color: black;
  background: yellow;
}

section {
  margin-left: 12.5%;
  margin-right: 12.5%;
}

/* make the css mobile responsive, and make the text larger */
@media screen and (max-width: 600px) {
  section {
    margin-left: 0;
    margin-right: 0;
  }
  p {
    font-size: large;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
  }
}