@font-face {
    font-family: JetBrainsMono;
    src: url(../JetBrainsMono-Regular.ttf);
  }
  
.whitebutton {
  background-color: #121212;
  border: none;
  border-radius: 6.5px;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 16px;
}

body {
    font-family: 'JetBrainsMono', serif;
    background: linear-gradient(to right, #0a1121, #1e2a3b);
    color: white;
  }


.box {
    color: white;
    text-align: center;
    background-color: #121212;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
    border: 3px solid #121212;
}

/* box hover */
.box:hover {
    border: 3px solid #d6dde0;
}