<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/blog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Rishaan Desai - Blog</title>
  </head>
  <body>
    <h2 class='center-text'><a href="/blog">Recent Posts</a></h2>
    {% for i in posts %}
    <div class="box" style="margin:0 auto;" onclick="window.location.href='{{i.url}}'">
    <h2><a href="/blog/{{ i.url }}">{{ i.name }}</a></h2>
      <h3>{{ i.summary }} <br/><br/>
        {{ i.date }}
        <h4>Categories: 
        {% for j in i.categories %}
        <!-- do <a href="/blog/category/{{ j }}">{{ j }}</a>, but there should not be a comma for the last one-->
        <a href="/blog/category/{{ j }}">{{ j }}</a>{{ ", " if not loop.last else "" }}
        {% endfor %}
        </h4>
      <br/>
      </h3>
      <br/>
    </div>
    <br/>
    {% endfor %}
    <script>
      //if category is in the url, then add the following to the body:
      if (window.location.href.includes("category")) {
        document.body.innerHTML += "<div class='center-text'><a href='/blog'><button>View All Blogs</button></a><br/><br/></div>"}
    </script>
  </body>
</html>