<link href="/static/css/style.css" rel="stylesheet"></link>
<title>Home - Rishaan Desai</title>
<link rel="icon" type="image/x-icon" href="/static/images/R.png">
<style>
.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
  color: white;
}

a {
  color: white;
}

social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

icon {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
}
</style>

<div class="wrapper">
      <h3>Hi! Thanks for visiting! I'm still building my website, so check back soon to see what I've been up to! In the meantime, check out <a href="/blog">my blog!</a></h3>
</div>
<button class="whitebutton" onclick="window.location.href='/blog'">Go to Blog</button>