<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap" rel="stylesheet">

        <!-- Meta -->
        <meta charset="utf-8">
        <meta property="og:image" content="/static/images/blog/post_covers/spac-cover.png">
        <meta property="og:title" content="SPACs Explained">
        <meta property="og:description" content="SPACs are a booming new investment enterprise.">
        <meta name="author" content="Rishaan Desai">
        <meta name="keywords" content="Investing, Business, Technology">
        <meta name="description" content="SPACs are a booming new investment enterprise.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">

        <title>SPACs Explained - Rishaan Desai</title>
        <link rel="stylesheet" href="/static/css/blogpost.css"></link>
        <script src="/static/js/script.js"></script>
    </head>
    <body>
      <p>
        <h2 style="text-align:center;">SPACs Explained</h2><p style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
          <h3 style="text-align:center;">By Rishaan Desai</h3><h5 style="text-align:center;">6/19/2022</h5></p>
        <section style="text-align: center;">
        <p class="l">
            &emsp;&emsp;A special purpose acquisition company, commonly known as a SPAC, is similar to companies such as Apple and Google in one way, which is that both are publicly traded; however, that's about where the resemblance ends. But what <i>is</i> a SPAC? <br/><br/>
            &emsp;&emsp;A SPAC, or a “blank check company”, is a company that has no commercial operation at the time of their launch, formed purely to raise capital through an IPO, then effect a merger with a privately held business to allow it to go public. Investors that hold a larger share in SPACs are typically private equity funds, however <i>anyone</i> can invest in one. Not all SPACs will find a business to acquire, and many that do successfully effect a merger later find that the acquired company does not perform well. As a result, SPACs are an extremely volatile investment, and can cause investors either a massive <i>profit</i> or a massive <i>loss</i>. However, if a SPAC doesn't find a company to acquire, it is required to return their funds to investors. <br><br>
            &emsp;&emsp;The first SPAC was created in 1993 by David Nussbaum. During this time, blank check companies were prohibited in the United States, as they were not regulated, and were plagued with fraud, costing investors huge amounts, well over $2 billion in the early 1990's, according to Harvard Business Review. In spite of that, in the following decades, SPACs became a popular industry for legal firms, auditors, and investment-bank-supported organization that lacked proper investment trading. In 2020, with the emerging COVID-19 pandemic, however, that changed, as serious investors began launching SPACs. Now, most SPAC shareholders with a large stake in a SPAC tend to be more credible, which is one of the key factors driving the “SPAC Boom.” <br/><br/>
            &emsp;&emsp; SPAC's are quickly rising in interest and popularity, and are particularily appealing for those looking for a high-risk-high-profit investment. Will you join the SPAC Boom?
        
        </p>
        </section>
        <p style="text-align:center;">
            <a href="/blog">Back to Blog</a>
        </p>
        <copyright-footer></copyright-footer>
        
    </body>
</html>